
.container{
    /* align-item: center; */
    justify-content: center;
    text-align: center;
    font-weight:bold;

}

body{
    background-color: darkgrey;
}
button{
    background-color: cyan;
    font-weight: bold;
    border-radius:10px;
    color: black;
    padding:10px;
    margin:10px;

}