body{
    background-color:#272626;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    display: flex;

}

#banner{
    text-align: center;
    font-size:xx-large;
    color:white;
}

#clock{
    width:400px;
    height:100px;
    background-color:yellow;
    text-align:center;
    font-size:large;
    border-radius:15px;
    color:red;
    font-size:70px;

}