
.button{
    /* border-color: black; */
    border-width: 2px;
    border:3px solid black;
    padding: 30px;
    margin: 5px;
    
}

#grey{
    background-color: grey ;
}
#white{
    background-color: white ;
}
#blue{
    background-color: blue ;
}

#yellow{
    background-color: yellow ;
}
#green{
    background-color: green ;
}
body{
    text-align: center ;
    margin-top: 100px ;
}